<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상세정보</h1>
    <div>아이디: <%= visitorOne[0].id %></div>
    <br />
    <div>이름: <%= visitorOne[0].name %></div>
    <br />
    <div>방명록: <%= visitorOne[0].comment %></div>
  </body>
</html>
