<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <!-- oneUser -->

    <div>아이디: <%= oneUser.dataValues.id %></div>
    <br />
    <div>이름: <%= oneUser.dataValues.name %></div>
    <br />
    <div>방명록: <%= oneUser.dataValues.comment %></div>
  </body>
</html>
