body {
  margin-top: 100px;
}

.login-box {
  max-width: 300px;
  margin: 0px auto;
  width: 100%;
  padding: 10px;
  background-color: gray;
}

form {
  width: 100%;
}
.content {
  margin-bottom: 10px;
}
